body {
	background: url(../img/background.png) repeat;
	width: 800px;
	margin: 10px auto;
}
#content {
	padding: 20px 5px;
	clear: both;
}

table {
	border-spacing: 0px;
}

#menu {
	font-family: sans-serif;
}

#menu a {
	text-decoration: none;
	padding: 5px;
	font-size: 20px;
	color: #333;
}
#menu a:visited {
	color: #333;
}

#menu a:hover {
	background-color: #ddf;
}

#menu a.selected {
	border-left: #DD4B39 4px solid;
	color: #DD4B39;
}

#user-info {
	float: right
}

#user-info a {
	font-size: 15px;
}
#cart-img {
	width: 16px;
}

#user-info .carrito_wrapper {
	font-size: 10px;
	color: #888;
	font-weight: bold;
}

#count {
	margin-left: 4px;
	margin-bottom: 4px;	
}

.nombre {
	font-size: 15px;
	font-weight: bold;
}

.descripcion {
	font-style: italic;
	font-size: 13px;
}

tbody tr:nth-child(2n+1) {
	background-color: #ddd
}

td.desc {
	width: 500px;
}

td.precio {
	width: 100px;
}

td.cantidad {
	width: 50px;
}

.light_rows tr:hover {
	background-color: #F4F5D5;
}

td.cantidad input {
	width: 43px;
}

#pedidos .head {
	border-bottom: 1px solid;
	width: 655px;
	font-size: 13px;
	font-style: italic
}
#pedidos .total {
	font-weight: bold;
	padding: 2px;
	font-style: italic;
}
#pedidos .pedido {
	margin-top: 10px;
}